html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #e6e6e6;
    font-family: "Lato", sans-serif;
    word-break: break-word;
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    justify-content: center;
}

main {
    margin: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

.form {
    display: grid;
    grid-template-columns: auto 100px;
    grid-gap: 10px;
    margin: 10px;
}

.form__input {
    padding: 10px;
    border: solid #8f8f8f 1px;
}

.form__submitButton {
    font-size: 20px;
    padding: 10px;
    background-color: #008080;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .section__header {
        font-size: 150%;
    }

    .form {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .form__input {
        margin: 0 auto;
        width: 100%;
    }

    .form__submitButton {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
    }
}

.section {
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 0px #b3b3b3;
}

.section__header {
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
}

.section__content {
    padding: 10px;
    background-color: #ffffff;
    border-width: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #e6e6e6;
    line-height: 150%;
}

.section__taskList {
    list-style: none;
}

.task {
    display: grid;
    grid-template-columns: 30px auto 30px;
    align-items: center;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: -30px;
    border-bottom: 1px solid #9e9e9e;
}

.task--done {
    text-decoration: line-through;
}

.task__button {
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.task__button.task__button--done {
    background-color: #023602;
    color: #ffffff;
}

.task__button.task__button--remove {
    background-color: #e20808;
    color: #ffffff;
}
